h1 back to the homepage!

if currentUser
    h2 You're login as #{currentUser.fullName}

form(method="POST", action="/posts")
        div 
            label(for='postContent') Write a post:
            br
            input(type='text', placeholder='What is on your mind' name='postContent' required='true')
            br
        button(type='submit' formaction='/posts') Post

if errors
    ul
        for error in errors
            li!= error.msg