extends layout

block content
    br
    br
    

    div(class="container")
        form(method='POST', action='' class="form-signin")
            div(class= "form-label-group")
                input(class="form-control" type='text' placeholder='message' id='message' name='message' required='true' )
                input(id="user", name='user' value= currentUser.fullName, type="hidden")
            br
            div(class="col text-center")
                button.btn.btn-primary(type='submit' formaction= "/messages") Post

    if messages
        for message in messages
            p= message

    ul(id="messages")

    div(id="chatbox" class="my-3 p-3 bg-light rounded shadow-sm")

    if messages
        for message in messages
            p= message
    
    script(src="/socket.io/socket.io.js")
    script. 
        $(function () {
            var socket = io();
            $('form').submit(function(e) {
                e.preventDefault(); // prevents page reloading

                var Message = {
                    author: $('#user').val(),
                    message: $('#message').val()
                }

                socket.emit('chat message', Message);
                //sendMessage(message);

                return false;
            });

            socket.on('chat message', function(msg){

                var innerDiv = document.createElement('div');
                innerDiv.className = "media text-muted pt-3 border-gray";

                img = $('<img/>', {src:"/images/profilepika.png", class: "bd-placeholder-img mr-2 rounded", width: 32, height: 32}).appendTo("#innerDiv");
                var infoDiv = document.createElement('div');

                infoDiv.insertAdjacentHTML('beforeend', msg.author);
                infoDiv.insertAdjacentHTML('beforeend', msg.message);
                
                innerDiv.appendChild(infoDiv);
                $('chatbox').appendChild(innerDiv);
                            

                $('#messages').append($('<li>').text(msg.author));
                $('#messages').append($('<li>').text(msg.message));
            });

            function sendMessage(message){
                $.post('http://localhost:3000/messages', message);
            }
        });
 
        
    
    if errors
        ul
            for error in errors
                li!= error.msg
