extends layout

block content
    

    div(class="my-3 p-3 bg-white rounded shadow-sm")
        h6(class=" border-gray pb-2 mb-0") Search Results:
        
            for name in search_list
                div(class="my-3 p-3 bg-white rounded shadow-sm")
                    div(class="media text-muted pt-3 border-gray")
                        img(class="bd-placeholder-img mr-2 rounded" width="50" height="50" src="/images/profile.jpg")
                        p(class="media-body pb-3 mb-0 small lh-125")
                            a(href=name.url)= name.fullName
                            br
                            Donec= name.bio
                            
    