body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
  color: #696969;
}

a {
  color: #696969;
}

#search {
  width: 400px;
}

textarea {
  height: auto;
}

#status {
  margin: 0 auto;
  width:250px;
  text-align: center;
}

#postbox {
  height: 80px;
	width: 100%;
}

#commentbox {
  height: 60px;
	width: 100%;
}

.profile {
  border-radius: 50%;
  z-index: 1000;
}

.col-sm-12 {
  white-space: nowrap !important;
}

#comment_info {
  display:flex;
  justify-content: space-between;
}
